body {
    background-color: #222222;
    font-family: "Trebuchet MS";
}
#spacer {
    height: 20px;
}
#banner {
    margin-left: 20%;
    margin-right: 20%;
    height: 2300px;
    background-color: #333333;
}
#server-icon {
    align-content: center;
}
iframe {
    width: 680px;
    height: 800px;
}
img {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    background-color: #ffffff;
    color: #ffffff;
    height: 1px;
}
a {
    color: #ffffff;
}
#git {
    font-size: 30px;
    margin-top: 60px;
}
#nav {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background-color: #215d73;
}
h1 {
    color: #ffffff;
    font-style: italic;
    margin-bottom: 40px;
    text-align: center;
    font-size: 46px;
}
p {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 0px;
    margin-top: 40px;
    color: #ffffff;
}